body{    
    background-color: rgb(20, 20, 20);
    background-color: #35705e;
    font-family: "Helvetica", "Arial", "sans-serif", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#content{
    width: 750px;
    background-color: #1A2421;
    color: white;
    margin: auto;
    margin-top: 26px;
    border-style: solid;
    border-color: #1A2421;
    padding: 2%;
    margin-bottom: 20px;
}
@media only screen and (max-width: 900px) {
    #content{
        width: 70%;
    }
}
#links{
    border-style: solid;
    border-color: black;
    text-align: center;
}
a{
    color: #8F8FFF;
}
#gallery img:hover{
    transform: scale(2);
}
img{
    margin: auto;
    display:block;
    max-width:300px;
    padding-bottom: 10px;
}
#bonus img{
    display:inline;

}
p{
    line-height:130%;
    padding:3px;
  }
